---
import GithubLogo from "simple-icons/icons/github.svg";
import { owner } from "src/data/constants";
import Picture from "@components/Picture.astro";

interface Props {
  class?: string;
}
---

<footer
  class="bg-base-200 text-base-content/50 flex w-full flex-col items-center gap-2 p-4"
  class:list={[Astro.props.class]}
>
  <div>{owner.name} © 2025</div>
  <a
    class="btn btn-ghost"
    target="_blank"
    href="https://github.com/MareStare/mare-stare-website"
  >
    <GithubLogo fill="currentColor" class="h-4" />
    <span>Source Code</span>
  </a>
</footer>
