---
import ThemeInput from "@components/ThemeInput.astro";
import Image from "@components/Image.astro";
import { owner } from "@data/constants";
---

<header
  class="to-base-100 sticky top-0 z-10 w-full bg-linear-to-t from-transparent backdrop-blur-sm"
>
  <div class="mx-auto flex h-16 max-w-6xl px-5">
    <div class="flex-1">
      <a
        title="Home page"
        class="btn btn-ghost btn-lg h-full gap-3 py-4"
        href="/"
      >
        <Image {...owner.pfp} inferSize class="size-8.75 rounded-xl" />
        <span class="max-sm:hidden">{owner.name}</span>
      </a>
    </div>

    <nav class="flex h-full flex-1 items-center justify-center gap-2 md:hidden">
      {
        owner.socials.map(({ socials }) =>
          socials.map((social) => (
            <a
              href={social.link}
              title={social.name}
              target="_blank"
              class="btn btn-ghost h-full gap-2"
            >
              <social.icon class="size-5 fill-current" />
            </a>
          )),
        )
      }
    </nav>
    <div class="flex flex-1 items-center justify-end">
      <ThemeInput class="btn btn-ghost aspect-square h-full" />
    </div>
  </div>
</header>
