---
import type { Social } from "@data/constants";

interface Props {
  social: Social;
  class?: string;
  size?: number;
}

const { social, size = 20 } = Astro.props;
---

<a
  href={social.link}
  title={social.name}
  target="_blank"
  class="flex items-center justify-center"
  class:list={[Astro.props.class]}
>
  <social.icon
    width="24"
    height="24"
    class:list={{ "fill-current": "src" in social.icon }}
    style={{ height: `${size}px`, width: `${size}px` }}
  />
</a>
