---
import Sun from "@lucide/astro/icons/sun";
import Moon from "@lucide/astro/icons/moon";

interface Props {
  class?: string;
}
---

<div title="Select light/dark theme" class={Astro.props.class}>
  <label class="swap swap-rotate btn btn-ghost rounded-md">
    <input id="theme-input" type="checkbox" class="theme-input" />
    <Sun size="24px" class="swap-off" />
    <Moon size="24px" class="swap-on" />
  </label>
  <script is:inline>
    // Updates the value of the checkbox immediately to prevent FOUC
    setTheme(isDarkTheme());
  </script>
</div>
