---
import Sun from "@lucide/astro/icons/sun";
import Moon from "@lucide/astro/icons/moon";

interface Props {
  class?: string;
}
---

<label
  title="Select light/dark theme"
  class="swap swap-rotate"
  class:list={[Astro.props.class]}
>
  <input id="theme-input" type="checkbox" class="theme-input" />
  <Sun class="swap-off" />
  <Moon class="swap-on" />
  <script is:inline>
    // Updates the value of the checkbox immediately to prevent FOUC
    setTheme(isDarkTheme());
  </script>
</label>
