@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  /* We are using custom themes */
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  --radius-selector: 1rem;
  --radius-field: 12px;
  --radius-box: 12px;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(59% 0.249 0.584);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-link: oklch(59% 0.22 0.584);
  --color-link-hover: oklch(75% 0.22 0.584);
}
@plugin "daisyui/theme" {
  name: "black";
  --radius-selector: 1rem;
  --radius-field: 12px;
  --radius-box: 12px;
  --color-base-100: oklch(24.353% 0 0);
  --color-base-200: oklch(22.648% 0 0);
  --color-base-300: oklch(20.944% 0 0);
  --color-base-content: oklch(98% 0.001 106.423);
  --color-primary: oklch(59% 0.249 0.584);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-link: oklch(64% 0.22 0.584);
  --color-link-hover: oklch(80% 0.22 0.584);
}

@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));

@layer base {
  :where([data-astro-image]) {
    object-fit: var(--fit);
    object-position: var(--pos);
    height: fit-content;
  }
  :where([data-astro-image="full-width"]) {
    width: 100%;
  }
  :where([data-astro-image="constrained"]) {
    max-width: 100%;
  }
}

.prose code:not(pre > code) {
  background-color: var(--color-base-300);
  padding-inline: 0.25rem;
  text-wrap: nowrap;
}

.prose a:not(.image) {
  touch-action: manipulation;
  color: var(--color-link);
  transition: color .25s;
  text-underline-offset: 2px;

  &:hover {
    color: var(--color-link-hover);
  }
}

.prose a.heading-anchor:before {
  content: "#";
}

.prose a.heading-anchor {
  position: absolute;
  margin-left: -1.2rem;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  transition: color .25s, opacity .25s;
  opacity: 0;
}

*:has(> a.heading-anchor) {
  position: relative;
}

h1:hover > a.heading-anchor,
h2:hover > a.heading-anchor,
h3:hover > a.heading-anchor,
h4:hover > a.heading-anchor,
h5:hover > a.heading-anchor,
h6:hover > a.heading-anchor,
a.heading-anchor:focus {
  opacity: 1;
}
